extends main 

block head
    link(rel="stylesheet", href="../css/about.css")
    title About

block postNav
    .about-h1
        h1= titleAbout
        span= homeAbout

block body
    .main 
        .container 
            .main-container 
                .main-people 
                    img(src="../img/header/people-front.png")
                .main-text 
                    h2 Hello There My Name is Gerry Castin And I Love To Talk (Most Of The Time)
                    .main-text__p 
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita

    .about-ico 
        .container 
            .about-ico__container 
                .about-ico__container__text 
                    h2= aboutH2
                .about-ico__container-photo 
                    for ico in aboutIco 
                        img(src=ico)
    .about-text 
        .container 
            .about-text__container 
                h2= aboutNewH2
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut dolore kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                .about-text__video 
                    img(src="../img/about-icon/play.png")
    .about-blog 
        .container 
            .about-blog__container 
                .about-blog__post 
                    h2= aboutBlogH2
                .about-blog__mixin 
                    for about in tituloblog 
                        +blog(about)